<cd-burger>
    <cd-burger-menu>
        <ul class="menu unstyled">
            <li>
                <a ui-sref=".single.config" ui-sref-opts="{ reload: true }">Play with yourself (one device)</a>
            </li>
            <li>
                <a>Play with others</a>
            </li>
        </ul>
    </cd-burger-menu>
    <cd-burger-content>
        <cd-burger-header>
            Tic tac toe
        </cd-burger-header>
        <cd-burger-body>
            <div ui-view></div>
        </cd-burger-body>
    </cd-burger-content>
</cd-burger>