<cd-burger>
    <cd-burger-menu>
        <ul class="menu unstyled">
            <li>
                <a ui-sref=".find">Connect to peer</a>
            </li>
            <li>
                <a ui-sref=".config">Settings</a>
            </li>
        </ul>
    </cd-burger-menu>
    <cd-burger-content>
        <cd-burger-header>
            {{localIP}}
        </cd-burger-header>
        <cd-burger-body>
            <div ui-view></div>
        </cd-burger-body>
    </cd-burger-content>
</cd-burger>