<div>
    <form name="configForm" ng-submit="start()">
        <div>
            <label>Dimensions (x/x)</label>
            <input type="number" ng-model="model.dimensions" ng-required="true"/>
        </div>
        <div>
            <label>Winning score</label>
            <input type="number" ng-model="model.winningScore" ng-required="true"/>
        </div>
        <div>
            <button type="submit" ng-disabled="configForm.$invalid">start</button>
        </div>
    </form>
</div>